/** General page layout **/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Lucida Sans Unicode'sans-serif;
  background-color: #EAEFD3;
  text-align: center;
}

/** Header and Nav Properties **/
header {
  background-color: #35654d;
  height: 90px;
  padding: 10px;
  display: flex;
}

.headings {
  justify-content: left;
  margin: 10px;
}

header h1 {
  text-align: left;
  font-size: 20px;
  font-family: trebuchet;
  text-shadow: 2px 2px #EAEFD3;
}

header h3 {
  float: left;
  font-size: 20px;
  margin: 5px 0 0 5px;
  font-family: trebuchet;
}


header nav {
  flex: 1;
}

header nav ul {
  list-style: none;
  display: flex;
  margin-bottom: 8px;
  flex-flow: column;
}

header nav ul li {
  text-align: right;
  margin: 3px;
}

header nav ul li a {
  color: #e0c290;
  margin: 0 8px 0 8px;
}

/*
header nav ul li a:link {
  color: #ec9280;
}
*/
header nav ul li a:hover {
  color: #f1e0c5;
  background-color: black;
  border-radius: 10px;
}

/*** Image properties **/
img {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  min-width: 50px;
  min-height: 50px;
}


.image-container {
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


h3 {
  font-size: 30px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
  font-size: 20px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body ul {
  list-style: none;
}

ol {
  text-align: center;
}

ol li {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  text-indent: 30px;
}

.large-hr {
  width: 50%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px 5px #35654d;
}

.small-hr {
  width: 50%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px 5px #35654d;
}

.body-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 10px;
  margin-bottom: 30px;
}

.body-item {
  text-align: center;
}

/** Portfolio Properties **/

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.project {
  color: #ffffff;
  flex: 1;
  border: 5px solid #35654d;
  margin: 10px;
  background-color: black;
}

.project a {
  color: #e0c290;
  font-size: 20px;
}

.project a:hover {
  color: black;
  background-color: #e0c290;
}

.project div {
  margin: 15px;
}

/*** Form Properties **/
form {
  border: 1px solid black;
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: center;
}

form label {
  display: flex;
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  justify-content: center;
}

form textarea {
  height: 85px;
  width: 100%;
  margin-bottom: 10px;
}


.contact-form {
  display: flex;
  margin: 10px;
  flex-flow: column wrap;
  justify-content: center;
}

form button {
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 10px;
  color: white;
  background-color: #35654d;
  padding: 10px;
}

.social-media {
  justify-content: center;
  display: flex;
}

/** social media Icon links **/
ol a img {
  height: 10px;
  width: 50%;
  display: flex wrap;
  margin: auto;
  flex: 1;
}


/** Footer **/
footer {
  background-color: #35654d;
  width: 100%;
  height: 60px;
  padding-top: 30px;
}


footer p {
  text-align: center;
  color: white;
  font-size: 20px;
}

/** Media query**/

@media all and (min-width: 600px) {

  header {
    height: 150px;
    flex-flow: column;
  }

  header nav {
    align-self: center;
  }

  .headings {
    align-self: center;
  }

  header h1 {
    font-size: 50px;
  }

  header h3 {
    font-size: 25px;
    align-self: center;
    margin-left: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  header nav ul {
    flex-flow: row;
    font-size: 30px;
  }

  h4 {
    font-size: 30px;
  }

  .body-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75%;
    border: 1px solid;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
  }

  .skills-container {
    display: flex;
    margin: auto;
    width: 60%;
  }

  .current-skills {
    margin: auto;
    max-width: 200px;
  }

  .current-skills li {
    list-style-type: square;
    margin: 8px;
  }

  .portfolio-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }

  .project {
    color: #ffffff;
    flex: 1;
    border: 5px solid #35654d;
    margin: 10px;
    background-color: black;
    flex-flow: row wrap;
  }
}